<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="processing.test.sketch_230701b"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="sketch_230701b"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="processing.SoftBodyActivity"
            android:exported="false" />

        <activity
            android:name="processing.SoftBodyDisplayActivity"
            android:exported="false" />

        <activity android:name="processing.Fluid_Activity"/>
        <activity android:name="processing.FluidDisplayActivity"/>

        <activity android:name="processing.FlowFieldParticleActivity"/>
        <activity android:name="processing.FlowFieldParticleDisplayActivity"/>



        <activity android:name="processing.SoftBody3DDisplayActivity"/>
        <activity android:name="processing.SoftBody3dActivity"/>


        <activity android:name="processing.Fluid2dDisplayActivity"/>
        <activity android:name="processing.Fluid2dActivity"/>
        <activity
            android:name="processing.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>